[2018-10-07 10:39] DVassilev opened #2 "Example project not starting shortcut"
Hey, great start on the project! I tried running the example, however, and nothing would happen when I clicked create shortcut. Any thing I might be missing? I made sure to change identifiers in the javascript and info.plist to match the identifier I set on it but nothing seems to be happening. Let me know if you can provide some more detailed instruction steps to get started :) Thanks!

[2018-10-07 10:50] DVassilev commented on #2
I realised I can configure it via the Settings app. I thought when I clicked 'create shortcut' it would invoke the Siri interface to configure it but realise that may not be the case. Great work

[2018-10-07 15:18] Gustash commented on #2
No worries. I might look into having the option of opening that UI for adding the shortcut. I'll close this for now but might come back to it in the future. Thanks!

[2018-10-07 15:18] #2 closed

[2018-10-18 14:20] julienvincent opened #3 "Background Support"
Currently in order to execute a shortcut the app needs to open to the foreground. This removes the possibility to create shortcuts that can run, for example, from the lock screen.

I'm wondering if there is a way currently to allow shortcuts to run in the background? Or if not, what is required in order for this to happen?

P.s, Kudos for the great work so far!

[2018-10-21 00:06] DVassilev commented on #3
@Gustash it must be possible as https://github.com/transistorsoft/react-native-background-geolocation achieves this. When there is an update in location it passes it to the JS to handle.

[2018-10-21 01:16] DVassilev opened #4 "Donate Shortcut vs createShortcut"
I've had a read of https://developer.apple.com/documentation/sirikit/donating_shortcuts and noticed they recommend to "donate shortcut" with "becomeCurrent" each time the action is executed, from my understanding. I saw you have used becomeCurrent in https://github.com/Gustash/react-native-siri-shortcut/blob/master/ios/RNSiriShortcuts.swift#L103 - does that mean we should call "createShortcut" eac

[2018-10-22 10:22] julienvincent commented on #3
I will be looking into this some more as I will need this functionality for a personal project. If I can find a way to integrate whatever native functionality I do into this repo I will make a PR to do so.

My brief research into it indicates that one needs to make custom intents, which I don't think is something one can do entirely through this project. It may be possible however to do a combinat

[2018-10-22 17:08] Gustash commented on #3
I really appreciate your help

[2018-10-23 01:08] DVassilev commented on #3
I had a look into it too and I think you're right. Would need to manually create a custom intent extension and link it up with the library to be able to handle background execution. These may be relevant as they both use extensions albeit not intent extension:

https://github.com/matejkriz/react-native-today-widget
https://documentation.onesignal.com/docs/react-native-sdk-setup

[2018-10-23 13:55] #4 closed

[2018-10-23 14:10] DVassilev opened #6 "Add to Siri UI Button"
Library should include a component for adding to Siri from the app and not needing to go via the Settings app. The following Swift generates the UI:

‘’’
let addShortcutButton = INUIAddVoiceShortcutButton(style: .whiteOutline)
addShortcutButton.shortcut = INShortcut(intent: order.intent)
addShortcutButton.delegate = self
‘’’

I’ll take a look at incorporating this too at some stage.

[2018-10-23 14:17] Gustash commented on #6
I was actually going to work on this today. If you want to handle this too while I work on the logic to resign a donated shortcut go ahead :)

[2018-10-23 14:22] DVassilev commented on #6
Oh go ahead. I was just adding it here as a reminder for when I had time but if you can get started on it that’s even better. What do you mean by resign a donated shortcut?

[2018-10-23 19:04] Gustash commented on #6
In regards to this issue, I have been trying for hours to expose `INUIAddVoiceShortcutButton` to React Native to no avail, it just doesn't show up. I think React Native is getting rid of all the default styles, so it might be better to just recreate the button in pure React.

In regards to the donated shortcut resignment, check [this](https://developer.apple.com/documentation/foundation/nsuseracti

[2018-10-24 03:07] DVassilev commented on #6
Do you want to put up your attempts anywhere so I can take a look at them and see if I can get it working?

Is resign relevant to Siri Shortcuts or just NSUserActivity?

[2018-10-24 06:28] Gustash commented on #6
Sure, I'll start a new branch.

It is relevant. Resign and invalidade tem Siri not to suggest the shortcut again

[2018-10-24 12:00] Gustash commented on #6
Check out [the new branch](https://github.com/Gustash/react-native-siri-shortcut/tree/add-to-siri) for this functionality. For now it renders the `Add to Siri` button (figured out a way to do it). Still needs work with styling and setting up other props.

[2018-10-27 16:34] Gustash commented on #6
Little update on this. The button is rendered with limited styling capabilities. The reason for this is I think we should separate shortcut presentation and the add to siri button. Users should be able to create a custom component to call the "add to siri form sheet". For this reason the `AddToSiri` component has an `onPress` prop where you can send whatever you want.

All I need to do now is writ

[2018-10-27 16:47] Gustash commented on #6
Closing this issue as the button has been added to the package. I'll open another issue for presenting shortcuts so we can keep track of the development of that feature. Thank you for your collaboration @DVassilev!

[2018-10-27 16:47] #6 closed

[2018-10-27 16:50] Gustash opened #7 "Present Shortcut"
This issue is in order to keep track of the second half of the features requested in issue #6.

There should be an API exposing the INUIAddVoiceShortcutViewController functionality. Please refer to https://developer.apple.com/documentation/sirikit/inuiaddvoiceshortcutviewcontroller

This API should expose a way to open the native "form" for registering a shortcut with Siri, which could be either c

[2018-10-28 13:45] DVassilev commented on #6
Well done! I’ll test this out soon. I didn’t get a chance to look too deep into what was previously made so thanks for continuing with it. I agree that there should be both the native component and then a function to trigger it.

[2018-10-28 19:36] Gustash commented on #6
If you want to help further refer to #7. Shouldn't be too difficult to implement

[2018-10-28 22:18] Gustash commented on #7
This was now added in version 1.3.0 through the `presentShortcut` API.

[2018-10-28 22:18] #7 closed

[2018-10-28 22:19] Gustash commented on #7
@DVassilev this is everything you were asking for, right? You have the Add to Siri button and an API to present options to add, delete and update a shortcut. Let me know ;)

[2018-10-28 22:32] Gustash commented on #3
Took another quick look at this. Seems like it could be possible? This would have to be created by the user though, but it might be possible to offer a template to wire up to the JS. Still don't know if totally possible, but I'll take a look eventually.

[2018-10-28 22:34] Gustash commented on #3
Wanna help me on this @DVassilev?

[2018-10-28 23:15] DVassilev commented on #3
@gustash Sure, will help where I can

[2018-10-28 23:17] DVassilev opened #9 "Migrate to Objective C"
To ditch the react-native-swift dependancy we could migrate the code to objective C, make the library a little slimmer.

[2018-10-28 23:39] Gustash commented on #9
The dependency really doesn't add a lot more weight. All it does is add en empty .swift file to your project so it can build Swift files. This is more of an Apple issue than anything else, seeing as it should be able to build libraries using Swift without your project using Swift.

The truth is I tried to move to Obj-C, but from my experience, code becomes more unreadable and difficult to maintain

[2018-10-28 23:39] #9 closed

[2018-10-28 23:41] DVassilev commented on #9
Just isn’t great DX requiring installation of another package and I agree that it’s less readable. Personally prefer it but at this stage with RN we are a bit locked in

[2018-10-28 23:58] Gustash commented on #9
There's always the option of documenting how to do it manually in case people don't want to add that dependency

[2018-10-29 00:56] DVassilev commented on #9
Yeah but again adding that extra steps detracts from the experience of using it. It's not a massive issue but just something to be considered.

[2018-10-29 13:54] Gustash commented on #9
I feel like moving to Obj-C would also be more work now and then more work later on when we have better support for Swift in RN. Manually all you have to do is create an empty .swift file in your project, it's really not a lot of manual work. You do more manual work setting up the AppDelegate.m than that honestly

[2018-10-29 14:08] DVassilev commented on #9
Yeah it’s not an overly problematic thing it’s just not ideal. It would be work to move it across now though, better proceed with features.

[2018-10-29 14:08] DVassilev commented on #7
I tried this out by the way and it works great!

[2018-10-29 14:30] Gustash commented on #9
Yeah, and honestly I'm not comfortable enough with Obj-C to maintain a project using it, so it ends up being better for everyone. I mean, if you look at react-native-maps, this is a pretty straight forward installation :p

[2018-10-29 18:53] Gustash commented on #7
Nice to hear!

[2018-10-31 05:57] DVassilev opened #10 "presentShortcut is crashing on <iOS 12"
I just tested on iOS 11.4.1 and when calling presentShortcut it crashes on line 234 of RNSiriShortcuts.swift.

[2018-11-13 19:28] Gustash commented on #10
Keeping this open because we need a better way to do these checks. The users shouldn't need to worry about them.

[2018-12-17 19:56] clarsen commented on #10
Similarly, attempting to render AddToSiriButton will crash on iOS < 12.  Perhaps a throw at javascript level before attempting to call the native code <RNTAddToSiriButton>, or just an alternative button, e.g.

[code]

[2018-12-17 20:35] clarsen opened #12 "Attempting to render AddToSiriButton will crash on iOS < 12"
As noted in https://github.com/Gustash/react-native-siri-shortcut/issues/10#issuecomment-447977492

calling AddToSiriButton results in native code being called which is unavailable on iOS < 12.

[2019-01-15 19:26] kaladin9017 opened #14 "Attempt to present INUIAddVoiceShortcutViewController on UIViewController whose view is not in the window hierarchy"
[code]
I've never done any Objective-C coding and fairly new to react native. I run into this error when trying to `presentShortcut`.
Help?

[2019-01-16 09:37] Gustash commented on #14
If you've found the solution @kaladin9017 then please share so that other users with the same problem can fix it

[2019-03-05 16:01] kaladin9017 commented on #14
Didn't find a solution, the question didn't have enough details or context.

I'm using `react-native-navigation` v1 and instead of setting ` RCTRootView *rootView = [[RCTRootView alloc] initWithBridge ...]` in the AppDelegate I set [[RCCManager sharedInstance] initBridgeWithBundleURL:jsCodeLocation launchOptions:launchOptions]; and control my navigation logic in JS.

My best guess is this line `se

[2019-03-05 18:46] Gustash commented on #14
Nice catch, I'll take a look

[2019-03-07 21:32] kaladin9017 commented on #14
If I replace `UIApplication.shared.keyWindow!.rootViewController! ` with `RCTSharedApplication()?.keyWindow?.rootViewController)` it allows for presenting but not dismissing 🤷‍♂️. Maybe adding some logic/function that returns the controller(UIApplication/RCTSharedApplication)

[2019-03-27 18:53] matt-dalton opened #15 "Having trouble natively installing the library in the first place"
Possible n00b question here, but I've followed the install instructions (yarn install lib + react-native-swift, react-native link, AppDelegate.m changes, Siri capabilities and then added an activityType to info.plist).

Now when I try and build I'm getting 35 build errors relating to `RNSiriShortcuts`. Screenshot below, but generally it's errors like `Use of undeclared type 'INUIAddVoiceShortcutBu

[2019-03-28 09:29] matt-dalton commented on #15
Found the answer...seemingly needed to upgrade xcode to 10.1

[2019-04-11 12:31] #15 closed

[2019-04-11 17:05] knawaz771 opened #17 "Semantic Issue: use of undeclared identifier 'jsCodeLocation"
Hello, I have followed everything but when I run build I get this error

"Use of undeclared identifier 'jsCodeLocation", I added code in appDelegate.m is explained and did other things.

react-native-cli: 2.0.1
react-native: 0.57.1
npm -v: 6.7.0
Xcode Version: 10.2 (10E125)

[2019-04-11 18:20] Gustash commented on #17
Would be helpful if you shared your AppDelegate.m

[2019-04-11 18:23] knawaz771 commented on #17
`// Copyright 2015-present 650 Industries. All rights reserved.

#import "AppDelegate.h"
#import <React/RCTBundleURLProvider.h>
#import <React/RCTRootView.h>
#import <RNSiriShortcuts/RNSiriShortcuts-Swift.h>

@implementation AppDelegate

// Put your app delegate methods here. Remember to also call methods from EXStandaloneAppDelegate superclass
// in order to keep Expo working. See example below.

[2019-04-11 18:26] knawaz771 commented on #17
the error has gone as I copied imports and initialised JSCodeLocation variable from the source code AND NOT FROM THE USAGE DOCUNENTATION...

However I'm getting another error now `Command Ld failed with a nonzero exit code`

[2019-04-11 21:52] Gustash commented on #17
Can you share how the AppDelegate.m looked like before you added the package? It seems like you're using a different method for starting the JS bridge... In the end, as the usage section tells you with the comments, all you need to do to the bundle is add the initalProps, you shouldn't need to change anything else

[2019-04-11 21:54] knawaz771 commented on #17
`// Copyright 2015-present 650 Industries. All rights reserved.

#import "AppDelegate.h"

@implementation AppDelegate

// Put your app delegate methods here. Remember to also call methods from EXStandaloneAppDelegate superclass
// in order to keep Expo working. See example below.

- (BOOL)application:(UIApplication *)application didFinishLaunchingWithOptions:(NSDictionary *)launchOptions
{
  retur

[2019-04-11 21:57] Gustash commented on #17
You're using this with ExpoKit?

[2019-04-11 21:58] knawaz771 commented on #17
yes, I ejected expo app, and chose ExpoKit Option.

[2019-04-11 21:59] Gustash commented on #17
Seems like this isn't possible with ExpoKit right now. If you really need to use this, I'd recommend fully ejecting.

Refer to: https://github.com/expo/expo/issues/2228

[2019-04-11 21:59] #17 closed

[2019-04-11 22:05] knawaz771 commented on #17
ok Thank your time to guide me. It would be better if it is mentioned in documentation.

[2019-04-11 22:07] Gustash commented on #17
I can add that in, but it's generally accepted that even ExpoKit isn't very flexible with what you can do. They're doing a good effort, but if you want more specific native functionality, a fully ejected app is almost always better

[2019-04-11 22:10] Gustash commented on #17
I'll leave this here in case you/anyone else really needs to use ExpoKit.

https://forums.expo.io/t/pass-initial-props-to-js-in-detached-ios-app/12205

It's a bit of a hack, but from this answer it seems the Expo guys aren't thinking of exposing an easier API for doing this.

[2019-04-22 17:59] jackychanfox opened #18 "Swift class extensions and categories on Swift classes are not allowed to have +load methods"

[2019-04-22 17:59] jackychanfox opened #19 "Swift class extensions and categories on Swift classes are not allowed to have +load methods"
after upgrade xcode with 10.2.1, it is not working.

[2019-04-23 20:15] Gustash commented on #19
Duplicate of #19

[2019-04-23 20:15] #19 closed

[2019-04-23 20:16] Gustash commented on #18
What build system are you using?

[2019-04-24 02:09] jackychanfox commented on #18
ios version: 12.2
mac os: 10.14.3
xcode : 10.2.1

[2019-04-24 06:13] Gustash commented on #18
React and react native versions?

[2019-04-24 08:11] jackychanfox commented on #18
"react": "16.5.0",
"react": "0.57"

[2019-04-24 08:16] Gustash commented on #18
And can I see your AppDelegate.m?

[2019-04-24 08:19] Gustash commented on #18
Seems to be related to this:

https://stackoverflow.com/questions/55435943/swift-class-extensions-and-categories-on-swift-classes-are-not-allowed-to-have

I'll update the package to use 0.59.3. You'll have to update as well

[2019-04-24 14:27] jackychanfox commented on #18
[code]
This is my appDelegate.m file

[2019-04-24 17:01] Gustash commented on #18
I see you have an ExpoKit project. Like I said in #17, this is not actively supported by this package and won't be in the foreseeable future.

It's possible you might have had this working before in a way the package isn't meant to work, but if you had it working, more power to you :)

I'll still take a look as I have a feeling this is completely unrelated to ExpoKit and moreso related to Xcode 10

[2019-04-24 17:04] Gustash commented on #18
I do assume you never had the initial shortcut working, did you? Were you able to cold launch your app from a shortcut and get that launch shortcut info?

[2019-04-25 00:45] jackychanfox commented on #18
react-native-siri-shortcut works well for me before upgrade xcode.
just after upgrade, it is crashing. also your example project is crashing.
I am sure if your example works, it will  work on my side too.^_^

[2019-04-28 15:49] GolfSkiWorld commented on #18
is there any update on this issue?

[2019-05-13 04:53] jdorj commented on #18
I solved my issue with following steps:
rm -rf node_modules/*
I changed "react-native": "0.59.3", instead "react-native": "0.59.1"
npm install

[2019-05-22 15:42] kaladin9017 commented on #14
Looks like this will be solved by the changes in PR https://github.com/Gustash/react-native-siri-shortcut/pull/16

[2019-05-22 15:42] #14 closed

[2019-05-24 13:07] prathammehta opened #20 "Can I use this with react-native-navigation"
The problem with `react-native-navigation` is that it doesn't take an `initialProperties` parameter. This is what my `applicationDidFinishLaunchingWithOptions` method looks like.

[code]

Is there a way I can make my app work with this library?

[2019-06-06 10:58] Gustash commented on #20
All you need to do is check for the `initialProperties` on your app container and then dispatch a NavigationAction...

[2019-06-06 10:58] #20 closed

[2019-06-18 23:25] zackify opened #22 "Returning a result?"
Is it possible to return a string of text, so that in the shortcuts app, something could be dictated after invoking the app?

[2019-06-19 11:04] Gustash commented on #22
It's explained in the documentation. You send whatever you want in the userInfo to the shortcut. As long as userInfo is an object with a string inside (e.g. `{ foo: 'bar' }`) you just need to setup the listener and handle it there once the app boots up.

[2019-06-19 11:04] #22 closed

[2019-06-19 15:00] zackify commented on #22
Sorry I didn’t make this clear enough. I know about that and have a
shortcut working just fine. But I want to pipe the shortcut output into a
next step in the shortcuts app. I don’t see a way to do that with this
library. Doesn’t seem to be a way to return any data back to Siri shortcuts
so that you can do another shortcut with the data.

On Wed, Jun 19, 2019 at 04:04 Gustavo Parreira <notificatio

[2019-07-08 23:24] Gustash commented on #22
Sorry for only getting back to you now. I haven't looked into this yet, but I'll take a look. I remember someone asked about background execution, and we arrived to the conclusion you can't do it without native code. It might be possible to pipe something back into the Shortcuts app, but it'll likely need to start up your application first.

I'll take a look though, seems like a very helpful featu

[2019-07-09 15:50] magnusburton opened #23 "Description to donated shortcut"
Hi!

I'm wondering if it's possible to add a description to my donated shortcuts. I've looked around the code and the web and can't find anything related to `NSUserActivity` having a `description` parameter.

How do these other apps do it? Is it using `NSUserActivity` or some other API?
![F0FECC5A-C4B8-40BF-9A44-120A1A90DD8E_4_5005_c](https://user-images.githubusercontent.com/3188613/60903669-0d9e

[2019-07-09 16:23] magnusburton commented on #23
https://github.com/Gustash/react-native-siri-shortcut/blob/72912ac072a9d57e6bff3a8a2097ec8ede844df8/ios/RNSiriShortcuts.swift#L103-L125

I kept on searching and found [this Medium article](https://hackernoon.com/building-siri-shortcuts-using-nsuseractivity-in-ios-12-ff252339e98a). To be able to add a description `CSSearchableItemAttributeSet` would have to be added to the `activity` object.

    l

[2019-07-10 08:22] Gustash commented on #23
Sure thing. I didn't know this existed. I'll definitely take a look!

[2019-07-23 14:31] #12 closed

[2019-07-23 15:04] Gustash commented on #18
I updated the react-native dependency to 0.60.4. Since I could build this on my machine with XCode 10.2, I'm going to close this as it seems to be resolved.

[2019-07-23 15:04] #18 closed

[2019-07-23 15:06] Gustash commented on #10
I've updated the `safeCall` function to make the check for a minimum iOS version. I've also added a `supportsSiriButton` boolean export in `AddToSiriButton.js` so this should cover both of these cases. Please install v1.5.0

[2019-07-23 15:06] #10 closed

[2019-07-29 05:58] robertherber opened #24 "Not building on React Native 0.60.4"
I saw there was a commit bumping this to RN 0.60.4 but I just can't get it to build. It seems it's not able to recognize the Swift code since I get this error:
`'RNSiriShortcuts/RNSiriShortcuts-Swift.h' file not found`

It does however manage to find `RNSiriShortcuts-Bridging-Header.h`, so the project is there alright.

I've tried everything in the instructions - including the linking part - even

[2019-07-30 17:29] timmywil commented on #24
Same problem here. I think the example project in this repo works because it's *not* linking with pods and [disabling autolinking](https://github.com/Gustash/react-native-siri-shortcut/blob/8fb21018e068ba181fbfb9caf64c79aaf7c6e496/example/react-native.config.js#L3).

[2019-07-30 19:44] timmywil commented on #24
Scratch that. I tried my strategy in the example and was able to get as far as importing `RNSiriShortcuts-Swift.h`, but the `ShortcutsModule` is still undeclared in the AppDelegate. I'm still new to Swift and will take a break for now.

[2019-08-04 19:11] Gustash commented on #24
I didn't know that a fix for `use_frameworks` was up on master. That's great news! I'll have to test it out and see if I can get autolinking working properly on 0.61. That might even remove the need for `react-native-swift`. For now @robertherber, just manually link as 0.60 changed how linking works. This should be reflected on the README file, but I was expecting a newer version of RN to properly

[2019-08-04 19:11] #24 closed

[2019-08-14 20:22] osdlge opened #25 "Instructions for manual linking"
Is it possible to get instructions for manually linking

From #24 we can't rely on linking because the generated -Swift.h file does not exist and following the instructions at https://facebook.github.io/react-native/docs/linking-libraries-ios brings you to the same point:

`ShortcutsModule` is still undeclared

[2019-09-20 17:02] timmywil commented on #25
The Swift file does exist, just in a different place. However, even when the file is found, `ShortcutsModule` is still undeclared. I don't think we need manual linking. I think this plugin should get autolinking working using 0.61.0-rc.3, where `use_frameworks!` is now supported.

[2019-09-20 23:20] timmywil commented on #25
I figured it out! I'm still new to Swift so this took me longer than it should have, but frameworks only export what is declared public. It took adding `open` and `public` in places and `ShortcutsModule` showed up again. I'll have a PR soon that fixes this and the framework name.

[2019-10-05 19:25] #25 closed

[2019-10-06 14:47] Gustash commented on #23
v1.6.1 of this package enabled this functionality. You can now send both a `contentType` and a `description` in your shortcuts. Let me know if this functionality is not working as intended.

[2019-10-06 14:47] #23 closed

[2019-10-07 23:37] raghuureddy opened #27 "The “Swift Language Version” (SWIFT_VERSION) build setting must be set to a supported value for targets which use Swift. Supported values are: 4.0, 4.2, 5.0. This setting can be set in the build settings editor."
After opening the project in Xcode, getting the below error and app is not building.

The “Swift Language Version” (SWIFT_VERSION) build setting must be set to a supported value for targets which use Swift. Supported values are: 4.0, 4.2, 5.0. This setting can be set in the build settings editor.

[2019-10-08 06:47] Gustash commented on #27
What's your XCode version?

[2019-11-24 11:54] Gustash commented on #3
A little update on this. I'm pretty sure you can get something working with a mixture of:

https://github.com/jamesisaac/react-native-background-task
https://github.com/billmalarky/react-native-queue#example-use-cases
https://developer.apple.com/documentation/sirikit/adding_user_interactivity_with_siri_shortcuts_and_the_shortcuts_app?language=objc

I'm a bit busy right now to get an example setup.

[2019-11-24 12:05] #27 closed

[2019-12-02 23:44] plgrazon opened #29 "Using react-native-siri-shortcut withoud use_framework"
Good day devs,

Our app fails to build and messes up our headers when we use "use_frameworks!". But on the other hand, if I remove it I get this error: ```'RNSiriShortcuts/RNSiriShortcuts-Swift.h' file not found```. Instead of using use_frameworks! is there a work around it?

[2019-12-03 09:48] Gustash commented on #29
What React Native version are you using?

[2019-12-03 11:54] plgrazon commented on #29
I'm using 61.4

[2019-12-03 22:20] plgrazon commented on #29
Accidentally closed it, I'm sorry.

[2019-12-03 23:29] Gustash commented on #29
Unfortunately with 0.61 this package only works with use_frameworks! since the React XCode project was removed. Therefore we need to rely on autolinking. I'd suggest you open issues about the use of use_frameworks! within the package repos that are causing you issues

[2019-12-03 23:29] #29 closed

[2020-01-07 19:39] paul-anaplan opened #31 "Using a single activity type for multiple shortcuts"
Hello, I'm not sure if what I'm trying to do is correct and it is a bug, or whether I haven't understood the relationship between shortcuts and activity types.

Is it possible to have a **single activity type, and to create multiple shortcuts that use the type** but **with different `userInfo` data**? For example, to generate the options from a function when a user wants to create the shortcut:

[

[2020-01-07 22:49] Gustash commented on #31
Actually iOS uses the Activity Type to discern between shortcuts, so what you're trying to do will not work. Unfortunately you cannot do dynamic shortcuts like that. The only way I can see you doing this is if you create a native Shortcut Intent that would have Siri ask what page to open first, but I never messed around with that so I'm not sure how it works. Feel free to use their docs tho, from

[2020-01-08 13:18] paul-anaplan commented on #31
Thanks for the quick reply! Will look into what I can do. Though I'm tempted to just create 10 activity types and loop through them when creating shortcuts, or something like that.

Will take a look at the apple docs if I get the time and see if there's a nicer way to do what you suggest 🙂

[2020-01-29 05:48] swallville opened #32 "presentShortcut main thread warning"
During the very first execution in devices, function presentShortcut of RNSiriShortcuts.swift gives a runtime warning that modalPresentationStyle could only be used inside the main thread. This causes the Modal presentation being stuck, sometimes for more than 15 seconds, looking like for the average user that the app crashed. I tweaked a bit the function and now is fixed with the if else statemen

[2020-01-31 08:57] Gustash commented on #32
I'll take a look at this today and release an update on npm. Thanks for the shout! I find it weird that XCode doesn't warn you about this on compile time...

[2020-01-31 18:51] Gustash commented on #32
@swallville this has been fixed on v1.6.4. You can get it from NPM now. Please re-open this issue if this ever occurs again.

[2020-01-31 18:51] #32 closed

[2020-01-31 19:24] swallville commented on #32
Thanks for the work @Gustash , really appreciate it.

[2020-02-05 11:12] mattfarina opened #33 "License?"
I noticed the package.json says this project is under the Apache 2. But, there is no license file in the repository. Could you please add a license so this project can be used as open source.

[2020-02-05 16:12] Gustash commented on #33
You're right, sorry about that. I forgot to do that and I'm still a bit fuzzy about the details of the difference Licenses. Anyway, until I do that, feel free to use this code and alter it however you want, it's completely up to you and 100% open-source

[2020-02-06 17:57] bougarfaoui opened #34 "RNSiriShortcuts/RNSiriShortcuts-Swift.h' file not found"
Hi thanks for this Repo, I can't build my project it gives me ```RNSiriShortcuts/RNSiriShortcuts-Swift.h' file not found```.
I tried  also to link it manually but it gave me the same error.

i'm using react native ```0.61.5```.

[2020-02-18 02:03] daveadapptor commented on #34
Just tried this library and hit the same issue.  Upgraded our RN to 0.61.5 to use the automatic linking but hit that same error about the missing header.  Also having problems with Typescript as theres no types for this library?

[2020-02-18 07:22] Gustash commented on #34
Can I see your Profile? Also yes, this library doesn't have any typescript declarations. You can feel free to made a declarations file and send it in a PR if you have some time, it would be very much appreciated

[2020-02-18 12:32] osdlge commented on #33
Would you be willing to provide it under the MIT license? https://choosealicense.com/licenses/mit/ this would make the project the easiest to use at my work

(fantastic project btw!)

[2020-02-18 15:36] bougarfaoui commented on #34
@Gustash here's my podfile, I tried also to add ```use_frameworks!```but the result is the same.

[code]

[2020-02-21 18:31] AslanRay opened #35 "Is it expedted that suggest/present shortcuts dont appear in search with the shortcut description like donate shortcuts do?"
When I add a shortcut with suggest or present function and I search it, this doesn't show the app icon and the shortcut description like so:
![presentedShortcut](https://i.imgur.com/NgKgr8l.png)

But when I donate the shortcut and do the same search query it shows the description:
![donatedShortcut](https://i.imgur.com/bLALCmB.png)

Is this difference between suggest/present and donate shortcut so

[2020-02-23 12:48] Gustash commented on #35
This is the way that iOS handles shortcuts. If you suggest a shortcut, it will only appear in the Shortcuts app. If you donate a shortcut, then it will also show up in spotlight and will be recommended on the lockscreen, etc based on internal algorithms

[2020-02-23 12:49] #35 closed

[2020-02-27 10:12] jackychanfox commented on #34
hi, @bougarfaoui
Please manual link and
add following to the *Header Search Path* of RNSiriShortcuts.xcodeproj
$(SRCROOT)/../../../ios/Pods/Headers
$(SRCROOT)/../../../ios/Pods/Headers/Public

This will help you to resolve your issue.

[2020-03-04 16:36] Gustash commented on #33
This package is now licensed under the MIT license. Closing.

[2020-03-04 16:36] #33 closed

[2020-03-04 16:38] Gustash commented on #34
Any updates on this at all? I still haven't been given a reproducible example, so I'll be closing this if nothing comes up before the end of the month

[2020-03-04 16:39] Gustash commented on #31
Closing this for now as it's related to Xcode and the native side of things, and not to this package

[2020-03-04 16:39] #31 closed

[2020-03-04 16:40] Gustash commented on #3
Closing this now as it's out of the scope of this project at the moment and I'm unclear on the details necessary to make this work out of the box

[2020-03-04 16:40] #3 closed

[2020-03-05 00:43] daveadapptor commented on #34
Personally I gave up and. implemented what I needed myself.  You asked for a Podfile and one was provided above.  I simply did yarn add react-native-siri, pod install (with and without use_frameworks) and tried to use the library and got the error mentioned.

[2020-03-05 09:09] Gustash commented on #34
I tried a project with the pods provided in that Podfile and couldn't replicate the issue. Also, did you do `yarn add react-native-siri-shortcut`? From your comment it seems you installed the wrong package

[2020-03-05 17:35] Gustash commented on #34
@bougarfaoui is it possible for you to provide me with an example project where this issue is happening? this would make debugging this much easier

[2020-03-20 16:43] high-performance-hery commented on #34
@Gustash Getting this issue and I can't seem to be able to link manually. What would the steps be to do that? I'd like to not have to use `use_frameworks!` as it conflicts with other libs in my project

[2020-03-20 18:09] Gustash commented on #34
@high-performance-hery I read that CocoaPods changed some things recently surrounding static linking for Swift projects. You can try to build without use_frameworks! on CocoaPods 1.9.1, but I haven't tried it so I don't know if it works.

If you're using RN 0.61+, packages can no longer be manually linked since they removed the React.xcproj, so you need to use CocoaPods if that's the case

[2020-03-23 16:29] gavrichards commented on #34
I'm finding this problem too.

I can't add `use_frameworks!` to my Podfile because if I do then I get this error when running `pod install`:
[code]

(redacted my local path and project name)

I've updated Cocoapods to see if this would help but it hasn't made any difference.

Any help would be appreciated.

[2020-03-25 09:29] high-performance-hery commented on #34
@Gustash Thanks for your reply! Just wondering, is anything preventing you from releasing the lib as not a framework? Just forked it to see if I can remove that constraint

[2020-03-25 09:35] Gustash commented on #34
This was the main reason:

CocoaPods 1.9.1 introduces something new I haven't tried:

`use_frameworks! :linkage => :static`

Can anyone here try this on their project to see if this fixes the issue for them?

[2020-03-25 09:36] Gustash commented on #34
`modular_headers` for the React pod doesn't work btw, or at least it used to not like it very much

[2020-03-25 16:04] Gustash commented on #34
Any updates @high-performance-hery?

[2020-03-25 16:06] high-performance-hery commented on #34
@Gustash I've tried `use_frameworks! :linkage => :static` and it didn't build. Wrapping up other stuffs but I'll look again just a bit later, thanks!

[2020-03-27 13:08] high-performance-hery commented on #34
@Gustash Sadly I haven't been able to find a solution that enables both static libs and frameworks on 0.61.5. I've tried to set the static flag in the pre-install Flipper function, but it created other build issues.

However, by removing Flipper, which was our only static libs (AppCenter just fixed it in their latest release), it now builds properly. So I think that's going to be our short-term so

[2020-03-27 13:08] Gustash commented on #34
I think I just figured out something huge that'll make this package work as a static library. Meaning, no `use_frameworks!` necessary.

I'm making a new branch with these changes and releasing a new test version on NPM.

[2020-03-27 13:09] Gustash commented on #34
@high-performance-hery that's great! do you happen to have access to your project before the build was working though? I'd like you to confirm if this will fix the issue for other people

[2020-03-27 13:09] high-performance-hery commented on #34
Oh jinx good timing! Brilliant, I'll keep an eye out!

[2020-03-27 13:09] Gustash commented on #34
The timing on this was something else haha

[2020-03-27 13:10] high-performance-hery commented on #34
Haha! Yes I've got it on a separate branch as well, I can test your solution 👍

[2020-03-27 13:13] Gustash commented on #34
That's great! I'll let you know when and what version you can install to test this

[2020-03-27 13:34] Gustash commented on #34
@high-performance-hery can you install version `1.7.0-alpha.0`?

For this to work you need an empty swift file and a bridging header, if you don't have them already. To do this just right-click on your project name on Xcode, select New File, choose Swift file and put it anywhere (you can name it whatever you want). When it asks you if you want to create a Bridging Header, say yes.

Then, in your A

[2020-03-27 19:29] high-performance-hery commented on #34
Seems to work, I can keep Flipper now, nice work! :)

[2020-03-27 19:48] Gustash commented on #34
Awesome! I'll make a proper release and add more documentation on the README for this. Probably tomorrow

[2020-03-28 00:35] Gustash commented on #34
I'm glad to say that v1.7.0 enables installing this package as a static library. That means, no `use_frameworks!` necessary if you're willing to press a few more buttons on Xcode.

I've updated the README with some new instructions for doing this, as well as a small change in the `AppDelegate.m`.

If something is still not working, or the instructions aren't very clear, please tag me here so I can

[2020-03-28 00:35] #34 closed

[2020-03-29 14:39] Gustash commented on #29
@plgrazon this has now been fixed on v1.7.0. Please update and follow the new instructions on the README to install it. Let me know if it works for you :)

[2020-04-01 11:02] KinanKazmi opened #43 "Does this support dual sided communication with Siri?"
Suppose i want to create something that does this.
I register "create a data model" as a shortcut with Siri (already works).

User: "Hey siri, create a data model"
Siri: "Sure, select a model type"
User: "Model ABC"
=> Here Siri sends "Model ABC" to my app and i use some API to check on my server if that Model exists or if the user is allowed to choose that option and pass result back to Siri.
Sir

[2020-04-01 11:44] Gustash commented on #43
This is somewhat related to #3.

As mentioned there, you need to create an extension on Xcode, and the JS bridge cannot run there. So unfortunately, for more complex scenarios like the one you presented, you'll have to do it in native.

It's probably better if you look up Apple's Documentation on it.

You can definitely use this for more straight forward tasks like opening a specific section of yo

[2020-04-01 11:44] #43 closed

[2020-04-01 14:15] KinanKazmi commented on #43
Alright thanks!

[2020-05-13 07:27] BrianCodeItUp opened #44 "Delete siri shortcut right after add it through AddSiriButton cause presentShortcut modal can't show properly"
## Description
Delete siri shortcut right after add it through AddSiriButton cause presentShortcut modal can't show properly

## Version
React Native: 0.59.10
react-native-siri-shortcut: 1.6.4
ios: 13.1 or above (as far as i tested on real devices)

## Steps To Reproduce
1. Using AddSiriButton to emit onPress to tigger presentShortcut method
2. Swipe App to background
3. Delete the shortcut just c

[2020-05-13 07:39] Gustash commented on #44
From the video it seems like you're using a Modal. On iOS, Modals usually interfere with other View Controllers trying to be shown. If you are using one, can you try moving the button outside of it and checking if the same happens?

[2020-05-13 08:36] BrianCodeItUp commented on #44
@Gustash  I tried to move AddSiriButton out as as a  common button but it results the same situation. I suspected it has something to do with deleting the shortcut but App is still running and does't know which shortcut to edit since the shortcut has been deleted.
Here the way i test it:
![remove addsirbtn  out of modal test](https://user-images.githubusercontent.com/34977345/81790185-9e4fef00-953

[2020-05-13 09:09] Gustash commented on #44
I was able to replicate the issue you're describing. I will try to take a look today, sorry for the confusion

[2020-05-13 09:51] Gustash commented on #44
@BrianCodeItUp just released v1.8.0, should fix this problem.

The issue was that the internal array keeping track of the added voice shortcuts was only being updated when CRUD operations were performed internally, so it wouldn't know about changes on the Shortcuts app.

On v1.8.0, the package is overriding that state with whatever the OS has currently whenever the app comes back into the foregrou

[2020-05-14 03:28] BrianCodeItUp commented on #44
@Gustash After upgrading to v18.0,  this issue has been resolved. Thank you for the quick update to fix this issue.

[2020-05-14 08:21] #44 closed

[2020-06-14 21:56] goroshevsky opened #45 "'ShortcutsModule' is unavailable: cannot find Swift declaration for this class"
I tried to install this package without `use_frameworks!`. Bridging header was present in project, tried to use`@import RNSiriShortcuts` in Objective-C file, but module was not found. Interesting thing was in that module RNSiriShortcuts is importing fine in Swift class, so I wrote Swift wrapper around RNSiriShortcuts methods. But it is working only in Debug, in release mode I have error `'Shortcut

[2020-06-14 22:04] Gustash commented on #45
Interesting, never came across that. It does seem like the Bridging Header isn't setup properly tho, as you say it does work when importing it through a Swift file.

Are you able to share a project with that issue present? These issues are very hard to replicate otherwise

[2020-06-15 17:50] goroshevsky commented on #45
Thank you for reply! Unfortunately, I can't share the project, but I will try to reproduce the issue in an example repo

[2020-06-15 19:26] Gustash commented on #45
Thank you, that would help tremendously

[2020-06-19 14:05] goroshevsky commented on #45
You are right, I've had some incorrect settings, like OTHER_CFLAGS and some more. Now it's all working as intended

[2020-06-19 14:05] #45 closed

[2020-07-02 23:12] HyeonjuPark opened #46 "SiriShortcutsEvent does not called"
I'm testing siri shortcut features following README instructions.

donate shortcut and present shortcut work like a charm.
However, when I came in the app through the shortcut, SiriShortcutsEvent was never called.
Also, suggestShortcuts does not work either. I couldn't find shortcut when I only used suggestShortcuts.

What did I wrong?

This is my full code.

[code]

[2020-07-03 12:08] Gustash commented on #46
Did you apply the changes to `AppDelegate.m`? Also, are you having this problem on a cold boot of the app? Or does it work fine if the app is already running?

In regards to donate and suggest shortcut. Donate means that you're donating the shortcut to the system immediately. Suggest means you are telling the system "the user might want to do this again at around this time in a different day", it

[2020-07-14 11:32] Gustash commented on #46
@HyeonjuPark bump. Can you let me know the answer to my questions so I can debug this for you?

[2020-07-23 09:59] Gustash commented on #46
I'm closing this since it seems stale. Feel free to re-open when you can reply to my questions.

[2020-07-23 09:59] #46 closed

[2020-07-25 11:51] anekadmin opened #50 "Activate Siri target instead of opening app from shortcut"
Any guidance on using this library to handle intents with conversational siri interface? I tried and the shortcut keeps opening the app instead of running the siri target.

[2020-07-25 11:57] Gustash commented on #50
Refer to #43. In short, it's impossible to support Intent Extensions in the background because the JS bridge can't run on them. I've pinned this issue since it's a recurring question people have.

As a side note, iOS 14 introduces in-app siri intents, and I want to integrate them into the package, but that requires React Native to move to UIScene instead of UIApplication internally.

You can track

[2020-07-25 11:57] #50 closed

[2020-08-18 12:18] ovidiu-balau commented on #43
Is it possible to create an intent from Swift and add it to Siri via this module?

[2020-08-18 16:05] Gustash commented on #43
@ovidiu-balau [these](https://developer.apple.com/documentation/sirikit/inuiaddvoiceshortcutbutton) are the only properties the INUIAddVoiceShortcutButton takes. I assume that if it is possible, that you'd need to link your shortcut to an intent in Xcode

[2020-08-31 21:42] Farhankhaliid opened #53 "clearAllShortcuts Method not working"
async clearShortcuts() {
    clearAllShortcuts()
      .then(res => {
        console.log("deleted", res);
      })
      .catch(e => {
        console.log("Cant clear on <iOS 12", e);
      });
  }
but its not woking for me plz help .

[2020-09-04 17:30] vitorbarros opened #54 "Expo Integration"
Hey guys I would like to know if it is possible to integrate with the Expo?

[2020-09-10 10:11] Gustash commented on #53
What exactly isn't working? What are you seeing and what are you expecting to happen?

[2020-09-10 10:17] Gustash commented on #54
Not possible at the moment due to limitations on ExpoKit. Check #17

[2020-09-10 10:17] #54 closed

[2020-09-16 13:48] shrimallamanoj opened #55 "Not able to run after import of module 'glog.glog.log_severity' appears within namespace 'google'"
In pod i have used
use_modular_headers! at top

=====================
"react": "16.8.6",
"react-native": "^0.59.9",

=====================
error showing like when i run npx react-native run-ios --simulator="iPhone 8"

info import of module 'glog.glog.log_severity' appears within namespace 'google'
info #include "glog/log_severity.h"

../ios/Pods/Headers/Public/glog/glog/logging.h:509:1:
info note:

[2020-09-17 17:54] Gustash commented on #55
What Xcode version are you using?

[2020-09-18 16:41] shrimallamanoj commented on #55
Xcode version 12.0, if i remove react-native-siri-shortcut package then i am able to run app. But want to use siri shortcut package.

[2020-09-19 10:19] shrimallamanoj commented on #55
I created new project and added react-native-siri-shortcut project and it is working fine. below is the version.
    "react": "16.13.1",
    "react-native": "0.63.2",

Below is the version of project in which i am geting error when run app.
    "react": "16.8.6",
    "react-native": "^0.59.9",

[2020-09-19 12:21] Gustash commented on #55
Tbh I'm not sure what the compatibility of this package looks like for 0.59. I would honestly recommend you to update your project to one of the latest versions as soon as possible

[2020-10-07 18:26] rich-smith commented on #53
I'm experiencing the same behaviour.

Expectation:
- After creating and saving a shortcut, I tried to delete the shortcut using both the "clearAllShortcuts" and "clearShortcutsWithIdentifiers" methods respectively.

Behaviour:
- After executing the above, my shortcut remains intact. (Confirmed by running "getShortcuts").

Environment:
- React Native 0.63.2
- react-native-siri-shortcut 1.9.2
- runn

[2020-10-09 14:46] Gustash opened #56 "LICENSE change"
I am planning to change the license of this project from the MIT license to the GPLv3 license. The main reason for this is my belief that all software should be free (free as in freedom, not as in free beer) because that empowers every user and curtails the possibility of monopolistic aproaches to software development.

Even though I am the owner and maintainer of this project, I believe in democr

[2020-10-11 11:41] Gustash commented on #53
I'm inclined to think that you can't actually delete recorded shortcuts. Can you check if those shortcuts show up on the Shortcuts app, and if you see the same behaviour after manually deleting the recorded shortcut?

[2020-10-11 12:17] rich-smith commented on #53
If I manually delete the shortcut, then it is no longer listed when running "getShortcuts()". So perhaps Apple doesn't allow shortcuts to be programmatically deleted?

[2020-10-11 18:03] Gustash commented on #53
It appears so. The documentation isn't clear about this, but what I suspect is that you can't programatically remove a shortcut that a user has added to their Siri.

Since I haven't gotten a reply from @Farhankhaliid, I'm closing this issue. If the problem lies elsewhere, please re-open this issue.

[2020-10-11 18:03] #53 closed

[2020-10-23 03:23] mayzyo opened #58 "Use of undeclared identifier 'ShortcutsModule'"
Use of undeclared identifier 'ShortcutsModule'
This error is preventing the project from building. I am following the use_frameworks! approach on a fresh project. The only other RN dependency in the project is react-native-webview. This is NOT an expo project.

Here is my AppDelegate.m
[code]

here is my podfile
[code]

[2020-10-23 03:45] darknesszy commented on #58
I don't mind doing it without use_frameworks! to be honest, but the documentation's create File procedure differed from my Xcode. I am not familiar with Xcode, so can't really figure out how to create bridging header file on my own. An update on that would help me a great deal if this issue isn't easy to resolve.

[2020-10-24 18:25] jdmunro opened #59 "Slow app startup caused by INVoiceShortcutCenter.shared.getAllVoiceShortcuts"
Recently I noticed that my app has been slow to startup. After removing every dependency I was able to narrow it down to a problem in `react-native-siri-shortcut`.

The problem is that on initializing the native module we call `INVoiceShortcutCenter.shared.getAllVoiceShortcuts` from `syncVoiceShortcuts`: https://github.com/Gustash/react-native-siri-shortcut/blob/master/ios/RNSiriShortcuts.swift#L3

[2020-10-25 15:06] Gustash commented on #59
Hm, that's interesting. That method calls an async method from INVoiceShortcutCenter, so it shouldn't be blocking... How many voice shortcuts do you have added?

[2020-10-26 07:58] jdmunro commented on #59
@Gustash I'm not using the voice shortcuts at all actually. It's a weird one! For now, I've forked the library and removed these calls and indeed the problem is solved.

It's perhaps possible that `INVoiceShortcutCenter.shared` is the first call to this instance and it's lazily initializing, but that's just a guess.

[2020-10-26 08:45] Gustash commented on #59
I'll look into making it a lazy initialiser, that should help by only having the performance impact when you actually need to use that data

[2020-10-27 10:45] tamirla commented on #43
@Gustash in my case I don't need dual side communication, since all my logic is done in native code, however I still want to able to add shortcut to custom intent using AddToSiriButton.

As explained in this article:

https://medium.com/@neobeppe/quick-win-for-you-app-add-to-siri-button-7f4badf38e92

button's shortcut can accept either NSUserActivity or CustomIntent, however checking the code of S

[2020-10-27 11:00] tamirla commented on #43
@Gustash sorry, just realized that CustomIntent in this sample code should be the Intent class I created in my extension, so I guess it will be more challenging to instantiate this class inside your code

[2020-10-27 12:53] Gustash commented on #43
@tamirla Yeah, unfortunately since intents are custom classes, you'd need to extend this library's code on a case per case basis. Let me know if you need any help setting that up

[2020-10-27 13:10] tamirla commented on #43
@Gustash ok. no problem, I'll do it & will let you know if I'll need any help. Thanks !

[2020-11-04 18:14] mynameisliuyurong opened #60 "Can you adapt React- Native 0.59?"
I tried to integrate Siri into the project, but there was no progress for two days. I think the problem is that it has not been adapted to version 0.59. I hope it can be improved

[2020-11-12 12:54] vladrozhnev opened #61 "Shortcut parameters"
Is there any way to add parameters to the shortcut?

[2020-11-16 08:42] Gustash commented on #61
If you mean adding data that you can use when the shortcut is called, you can add any data you want in the `userInfo` key of the shortcut options, as an object. Look at the example in the README 🙂

[2020-11-16 08:46] Gustash commented on #60
This package was released even before 0.59 came out, so some previous versions should work for 0.59. Unfortunately it's not really in my radar to add support to an almost 2 year old version of the framework, hope you understand

[2020-11-16 08:46] #60 closed

[2020-11-16 08:48] Gustash commented on #58
Sorry about only getting to this now, can you share the project that's failing to build?

[2020-11-20 16:18] vladrozhnev commented on #61
@Gustash No, I mean the next: Just for example, we have shortcut like 'Call contact' and when I say 'Call contact John' I'll receive parameter like contact name 'John'.

[2020-11-24 07:14] Gustash commented on #61
Please refer to #43. It's currently not possible without writing native code

[2020-11-24 07:14] #61 closed

[2020-11-25 22:43] drop-ram opened #63 "`getShortcuts` returns empty"
like to remove shortcuts that are outdated or no longer relevant, making a call to `getShortcuts` returns empty after just setting a short right above

any reason why `getShortcuts` returns empty after `donateShortcut` is called?

[2020-12-03 09:21] adrianso opened #64 "Use of undeclared identifier 'ShortcutsModule'"
First of all, many thanks to Gustash creating this great library. It has been working great for me in the development environment, but I need help getting the code to compile in Release mode. Like the other user for Issue #58, I am getting the dreaded `Use of undeclared identifier 'ShortcutsModule'` error.

I have created the simplest clean repo to reproduce the problem.
To reproduce, do the follo

[2020-12-04 00:30] darknesszy commented on #58
@Gustash
Hey man, it's just a clean install of the latest RN with just this module and webview installed, I've repeated reinstalling and going through the steps several times. If its possible, could you just confirm that it still works with a new install on your end? I'll upload a repo next time I have access to the mac, as isn't my computer.

[2020-12-09 13:02] JonasWho opened #65 "Actions not showing up in Shortcuts iOS14.2"
The shortcuts that I suggest or donate are no longer showing up in the Shortcuts app at all. Anyone else experienced this?

There has been no changes to our implementation of this library since it worked, so I'm suspecting it could be caused by either iOS 14.X or React Native 0.62.X?

Env:
React Native 0.62.2
react-native-siri-shortcut 1.9.2
iOS: 14.2

[2020-12-12 11:25] Gustash commented on #64
Duplicate of #58

[2020-12-12 11:25] #64 closed

[2020-12-15 14:10] Gustash commented on #65
Afaik the Shortcuts app now only shows 4 shortcuts max per app. Can you confirm if that's the issue you're seeing?

[2020-12-16 12:57] JonasWho commented on #65
@Gustash I'm only using 2!

[2020-12-17 12:50] Gustash commented on #65
That's odd, I've seen apps using this library working under 14.X

Can you link me a project where I can replicate this issue?

[2020-12-26 16:42] Hamashassan commented on #46
If the app is in the background and then I apply shortcuts it will work. But if the app is closed and then I apply any shortcut it will not work see the demo video. Please let me know how to fix this?

https://user-images.githubusercontent.com/25038442/103155573-f683ea80-47c2-11eb-8ce6-b7d6b96a18ec.mov

[2020-12-26 17:08] Hamashassan opened #66 "Event not working on cold boot"
If the app is in the background and then I apply shortcuts it will work. But if the app is closed and then I apply any shortcut it will not work see the demo video. Please let me know how to fix this?

I have one more question is it possible to retrieve some data from the app into a shortcut. For example, I have a counter with the name "X" in my app with the value 10. so when I click the shortcut

[2021-01-01 00:52] admin-bfd commented on #58
I had this same problem. Fixed it by moving the import outside of the "#ifdef FB_SONARKIT_ENABLED" block.

`#import "AppDelegate.h"

#import <React/RCTBridge.h>
#import <React/RCTBundleURLProvider.h>
#import <React/RCTRootView.h>
@import RNSiriShortcuts;

#ifdef FB_SONARKIT_ENABLED
#import <FlipperKit/FlipperClient.h>
#import <FlipperKitLayoutPlugin/FlipperKitLayoutPlugin.h>
#import <FlipperKitUse

[2021-01-01 01:34] admin-bfd commented on #65
I'm having this same problem with iOS 14.3. Same code works fine on iOS 14.0. I created a new react native project, installed, and setup react-native-siri-shortcut. Can reproduce the issue on a simulator and a physical iOS device. The project can be found here: https://github.com/admin-bfd/siri-shortcut-test-project.

<img width="894" alt="Screen Shot 2020-12-31 at 8 30 02 PM" src="https://user-im

[2021-01-11 21:43] Gustash commented on #56
License has now changed to GPLv3. As mentioned, you can keep using the MIT license as long as you use a version before 2.0.0

[2021-01-11 21:43] #56 closed

[2021-01-18 19:45] djMax commented on #56
We are using this as a small part of a large mobile app. We're not going to open source our whole app for it, so we'd just end up writing our own (and probably open sourcing it).

[2021-02-01 14:56] Gustash commented on #56
That's fine by me, the world is your oyster 🙂. I made this decision from a moral and political perspective, you're free to disagree with it and move on, if that's what you want.

[2021-02-01 15:25] djMax commented on #56
Totally, and I have no qualms with your decision. I just wanted to provide a little feedback as requested.

All the best!

[2021-02-01 16:32] Gustash commented on #56
I really appreciate you taking the time to provide feedback, best of luck in your future endevours, and I hope that you can consider contributing to this project even if you're not actively using it, for all the people that still do ❤️

[2021-03-16 19:18] stantrujillo commented on #65
The shortcuts re-appear if you add an **intents.intentdefinition** file in xcode and define at least one **Custom Intent**. But then the problem is that you have an extra action in the Shortcuts app. @Gustash, is that useful information that might lead to a solution?

[2021-03-17 17:17] Gustash commented on #65
@stantrujillo I'll need to look into this, thanks for the info!

[2021-03-19 23:20] sinclas commented on #43
Look like the best method is to create custom intent classes with parameters and implement everything in native for an existing RN app? Create the intent, plist changes, etc. for more complex interactions?  If so, what would be the issues if developing that with the UI?  -Thanks for this thread!

[2021-03-22 08:58] Gustash commented on #43
@sinclas I don't think that would be a problem, very likely doable. It's just a logistic nightmare to have that as a supported feature of this package. I recommend people implement it themselves on a per-app basis, and use as much from this package as possible in order to simplify the implementation

[2021-03-22 12:43] sinclas commented on #43
Agree.  After spending a lot of time understanding intents and custom classes it would make sense to go native for a small part of the app’s functionality.  Using keychain to stores a shared resource such as login info to a secure endpoint could be a solution.

Are there any tract native example of parameterized custom intents and extensions out there??

Thanks!
Steve

Sent from my iPhone

[2021-03-23 13:31] Gustash commented on #43
Not that I'm aware of, but the Apple docs aren't too bad

[2021-03-23 15:52] shrshk commented on #43
Can we do something like what Google App on iOS does, for example:
Add a shortcut called open Assistant and do below
"Hey Siri, open assistant"
and Siri says "what do you want to ask assistant"
User: "how is the weather"
Google App opens and all subsequent interactions are handled there

I want to replicate this flow by doing all user voice interactions inside the app (with google web speech and d

[2021-03-23 20:52] shrshk opened #67 "Unable to add and use this library with vanilla react-native project."
npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! Found: react@17.0.1
npm ERR! node_modules/react
npm ERR!   react@"17.0.1" from the root project
npm ERR!   peer react@"^16.8.0 || ^17.0.0" from use-subscription@1.5.1
npm ERR!   node_modules/use-subscription
npm ERR!     use-subscription@"^1.0.0" from react-native@0.64.0
npm ERR!     node_modules/react-nat

[2021-03-26 15:10] Gustash commented on #67
Thanks for the heads up, I wonder how many packages are going to have this issue since most of them are asking for a peer dependency of < 17...

I'll update the dependencies of this package, that should fix your issue

[2021-03-31 12:51] sinclas commented on #67
Getting the same error.  I can test it out if get an update posted...

[2021-05-10 11:54] Gustash commented on #66
@Hamashassan sorry about only getting to this now.

As for the first question, can you share a project that reproduces that issue with me? It's probably easier for me to debug it that way.

As for the second question, there's a pinned issue on this repo that discusses deeper integrations with Siri, but the gist is that unfortunately there's no way to offer a deeper integration (like the one you're

[2021-07-09 20:27] neduck commented on #43
@sinclas, were you able to configure? I have a strange error: the application ignores the `handlerForIntent` method in the `AppDelegate` and the Shortcut app submit error `An unknown error occurred` when I try to set a value for a dynamic property.

[2021-08-27 05:12] Mob-Dev-2 opened #76 "getting EXC_BAD_ACCESS error on clicking Add to Siri button and app is crashing"

[2021-08-31 10:34] pavm035 opened #77 "Is there way donate intent when user press AddToSiri Button?"
Hi,

I would like donate custom intent when user press AddToSiri button on JS side from the SiriShortcut sheet or is it possible to attach custom intent to AddToSiri Button like we do in native?

Thanks

[2021-08-31 10:39] jwoodmansey commented on #66
@Hamashassan did you ever work this out? We are also struggling with this issue.

[2021-11-01 19:46] fcrespo82 commented on #54
Still not possible?

[2021-11-22 12:57] ReactRaylogic opened #79 "Siri shortcuts invoke app when called."
Hello
Existing Functionality: I can create a shortcut and when that particular shortcut is called the app gets invoked and calls the function.
Expected Functionality: I can create a shortcut and when that particular shortcut is called the function get called directly without invoking the app in foreground.

[2021-11-24 16:57] koyta commented on #67
It doesn't fix the issue.
[code]

[2021-12-23 05:49] maidul98 opened #80 "Listener method not working in react 0.66.4"
I have created a blank react native project to test this package. I am able to add shortcuts via the presentShortcut() method and trigger the shortcut via Siri to open my app without issues. However, the listener method does not get activated as it does in the example project provided when the app is triggered by the shortcut. I have added a repo for you to try as well.

Steps to reproduce:
- Clic

[2021-12-23 11:37] Gustash commented on #80
You didn't complete the `AppDelegate.m` portion of the installation. Try reading through the entire README first, if it still doesn't work after that update that repo and mention me in a comment here so I can take a look 🙂

[2021-12-23 21:42] maidul98 commented on #80
Wow, I thought it said to skip the AppDelegate.m step haha thank you. It works now

[2021-12-23 21:42] #80 closed

[2021-12-25 19:30] maidul98 opened #81 "Siri shortcut requires phone to be unlocked for triggering app"
When I say a trigger word via Siri and the phone is locked, it says that the phone needs to be unlocked in order to continue. I think there is a setting that allows Siri commands to be triggered without the phone being unlocked. I know this because I have an app that allows shortcuts and I can trigger those shortcuts without having the phone unlocked.

What I am playing on doing is having Siri pla

[2021-12-26 13:25] Gustash commented on #81
Check #3. If you want support for this you'll have to do it natively via an Intent Extension. Apple doesn't allow JS to run in extensions and that's the only way to handle SiriKit intents.

[2021-12-26 13:25] #81 closed

[2022-02-14 00:05] #79 closed

[2022-02-14 00:07] #58 closed

[2022-02-14 00:08] #55 closed

[2022-02-15 07:28] kingmeers opened #84 "Call the SiriKit API to create Automation Shortcuts"
I am using react-native-siri-shortcut and have successfully created a "Shortcut", however, it seems that it's only a shortcut that takes the user back to my App.

What I'm trying to do is allow them to create Automation shortcuts from within the app, whether it be "Open this app at 5pm every day" or something similar.

Is it possible to call the API to create Shortcut Automations? Is there another

[2022-02-15 17:01] Gustash commented on #84
I've mentioned this in multiple issues, but it's only possible if you do it natively in Obj-C or Swift. It's not possible to do through the JS bridge.

[2022-02-15 17:01] #84 closed

[2022-02-18 10:19] Gustash commented on #63
`getShortcuts` returns shortcuts that the user has recorded a phrase for, a.k.a they've added it to their Shortcuts library. Donated shortcuts will not appear there

[2022-02-18 10:19] #63 closed

[2022-02-18 10:22] Gustash commented on #65
This issue is stale at this point. Since no one has provided a repro project I'll have to close this, since I can't replicate the issue. If someone can provide a repro project, I'll re-open

[2022-02-18 10:22] #65 closed

[2022-02-18 10:24] Gustash commented on #66
@Hamashassan you haven't gotten back to me on this issue. Please make sure you've followed all the steps on README, particularly the`AppDelegate.m` changes.

[2022-02-18 10:25] Gustash commented on #76
This issue has no description or reproduction steps, therefore it's impossible to debug. Please open a new issue with the relevant information.

[2022-02-18 12:13] #59 closed

[2022-02-18 12:20] Gustash commented on #59
This has now been fixed on v2.0.2. @jdmunro sorry for the delay, but do you think you can test this out and see if you get better results?

[2022-02-20 13:08] msabaeian commented on #84
@Gustash do you have any documentation or example code to do this with native Obj-C or Swift? I searched but didn't find any solution

[2022-02-20 13:28] Gustash commented on #84
@msabaeian [these](https://developer.apple.com/documentation/sirikit) are the official docs. If it is possible, it'll be linked somewhere in here

[2022-04-04 06:54] ReactRaylogic opened #87 "Siri shortcut to make an Api call"
Hello there,
Can we configure siri shortcut in such a way that it makes an api call when invoked  rather than invoking the app??

[2022-04-04 09:11] Gustash commented on #87
Please read through existing issues before opening a new one.

As mentioned in #3 and other issues, it's not possible because the JS bridge won't be initialised, so you must implement such shortcuts natively.

[2022-04-04 09:11] #87 closed

[2022-04-08 16:50] Gustash commented on #56
The license has been changed to LGPLv3 from 2.1.0 onwards. This means you are still required to make any changes you've made to the library public, but are no longer required to make the source code if your entire app public.

[2022-04-22 15:44] Frans-L opened #92 "AppDelegate.m replaced with AppDelegate.mm"
React Native 0.68 replaces **AppDelegate.m** with **AppDelegate.mm**. In addition, it changed **CLANG_CXX_LANGUAGE_STANDARD** standard from **gnu++0x** to **c++17**. You can see the differences from [here](https://react-native-community.github.io/upgrade-helper/?from=0.67.4&to=0.68.1).

So, the current [installation guide ](https://github.com/Gustash/react-native-siri-shortcut#changes-to-the-appde

[2022-04-22 20:45] Gustash commented on #92
3.0.0 was actually just released. The project had to be migrated to Obj-C because of this.

There were a few breaking changes, so feel free to update and refer to the [Migration Guide](https://gustash.github.io/react-native-siri-shortcut/docs/migration-v2-v3)

[2022-04-22 20:46] #92 closed

[2022-05-20 05:20] KoratParas opened #95 "Getting Initial Shortcut value null"
Whenever I am trying to access the Initial Shortcut, not getting value. Using addShortcutListener I am able to call API when App is in background but when application is not opened then same Siri shortcut just open the application instead of calling API.

[2022-05-21 08:46] Gustash commented on #95
What version of the library are you using?

[2022-05-28 12:59] NadaMustafa commented on #76
I got the same error at presentShortcut()
<img width="1008" alt="Screen Shot 2022-05-28 at 2 57 17 PM" src="https://user-images.githubusercontent.com/15245820/170826554-a27d48af-85ea-4ac6-8865-c970acf432e2.png">

react: 17.0.2
react-native: 0.65.1

[2022-05-28 18:14] Gustash commented on #76
Ah, I see. The problem is likely that the shortcut references are no longer in memory at this point. I'll take a look, thanks for the context

[2022-06-23 13:55] Dmitrylolo opened #96 "Voice shortcuts not working on iOS 16"
Siri says "Sorry, something went wrong. Shortcuts says, "There was a problem running the shortcut "`shortcut phrase`"."."
This only repro via voice shortcut by saying to Siri, but working ok if launch it from "Shortcuts" app.

I'm using the last version of the library from the example folder.

[2022-06-25 12:05] Gustash commented on #96
Thanks for the issue. I don't have Xcode Beta setup right now, so I can't really test it.

Considering that iOS 16 is just starting its Beta cycles, I don't know if this is a library issue or an iOS 16 issue that will be fixed by release.

I'll be happy to look closer to the final release date. I'll probably take a look around the time the GM releases, if this is still an issue by then.

If you co

[2022-07-08 18:27] Gustash commented on #95
Closing due to a lack of context. Please reopen with the requested information.

[2022-07-08 18:27] #95 closed

[2022-08-09 18:26] gavrichards opened #98 "Support React 18"
This package has a peer dependency on React: ">=16.8.1 <18"
React Native 0.69.* uses React 18, meaning this library can't be installed / updated to without doing --legacy-peer-deps.
Any chance of an update please? :)

[2022-08-09 19:27] #98 closed

[2022-08-09 19:39] Gustash commented on #98
Fixed in v3.1.1, thanks for reminding me of this!

[2022-08-09 19:41] gavrichards commented on #98
Thank you for the amazingly speedy turnaround! Hugely appreciated.

[2022-08-09 20:02] Gustash commented on #98
Last thing I want is to block someone 😅

[2022-08-20 21:06] NadaMustafa opened #101 "Bridge is not set. This is probably because you've explicitly synthesized the bridge in RNSSSiriShortcuts, even though it's inherited from RCTEventEmitter.""
when call the shortcut while the app is open in the background, I receive the following error

Thread 1: "Error when sending event: SiriShortcutListener with body: {\n    activityType = \"com.github.gustash.SiriShortcutsModuleExample.sayHello\";\n    userInfo =     {\n    };\n}. Bridge is not set. This is probably because you've explicitly synthesized the bridge in RNSSSiriShortcuts, even though i

[2022-09-01 08:31] gavrichards opened #102 "Not working with Scenes"
I've had to convert my AppDelegate to Swift, because my radio station app uses [react-native-carplay](https://github.com/birkir/react-native-carplay), which now requires use of iOS Scenes which in turns requires a Swift AppDelegate.

Everything is working fine except for react-native-siri-shortcut (it was working fine before this).

I can add a shortcut still, but when I say "Hey Siri, play [name

[2022-09-01 08:43] Gustash commented on #102
Is there any data inside ```func application(
      _ application: UIApplication,
      continue userActivity: NSUserActivity,
      restorationHandler: @escaping ([UIUserActivityRestoring]?) -> Void
  )``` at all?

[2022-09-01 10:38] gavrichards commented on #102
So when I do `getInitialShortcut` I just get `null`. Is that what you mean?

[2022-09-02 07:31] Gustash commented on #102
Can you replicate on a clean project and link it here? This is a tricky one to debug

[2022-09-02 08:42] gavrichards commented on #102
Yes. I have just tried to set up the example project, but when I do `npm install` I receive this error:
[code]

I can see in package.json it has `"react-native-siri-shortcut": "link:.."` so I presume this is the reason.
Any ideas what to do here?

[2022-09-02 10:25] Gustash commented on #102
It should work out of the box, seems like a possible issue with your dev environment

[2022-09-02 10:25] Gustash commented on #102
Try yarn instead of npm

[2022-09-02 10:32] gavrichards commented on #102
Ok yarn worked, thanks.

[2022-09-02 11:25] gavrichards commented on #102
Ok I'm trying to run the example in the simulator now. I've done yarn install and pod install, but I'm getting this:

![simulator_screenshot_9FFDF62E-70BD-4789-A624-E86499B0371E](https://user-images.githubusercontent.com/432315/188129521-5c247c3e-37ed-4638-8b39-ee39d3fe6ead.png)

[2022-09-04 15:13] roysG opened #103 "function handleSiriShortcut in the example not fire"

[2022-09-04 16:03] Gustash commented on #103
Re-open the issue with actual information please.

[2022-09-04 16:04] #103 closed

[2022-09-05 16:05] gavrichards commented on #102
Update - I got this running, by deleting and cloning from scratch, and this time not doing `yarn install` in the root of the project, only in the example directory.

I then converted the AppDelegate to Swift.

And what do you know, it just works still.

Flip back to my app, and it doesn't. So I'm baffled, and now on a mission to compare the two.

[2022-09-05 16:12] Gustash commented on #102
Seems like a specific issue with your app, unfortunately. I'll leave this open for now, but if/when you find a solution, it would be very appreciated if you could add a comment with it in case other people have the same issue you're having in the future :)

[2022-09-05 16:15] gavrichards commented on #102
Thanks for leaving it open, I will definitely give an update once I land on the reason.

[2022-09-05 17:43] gavrichards commented on #102
Ok I have landed on the cause through a process of elimination, but I don't yet understand why it's happening.

It stops working at the point you introduce "scenes" to AppDelegate.

In order to support CarPlay, you have to have separate scenes for Phone versus CarPlay.

If you delete the CarPlay scene and move the code from the Phone scene back into the main AppDelegate, Siri Shortcuts start worki

[2022-09-05 20:41] gavrichards commented on #102
I haven't explained it very well, but it's actually not specific to the CarPlay package. It happens when you simply make use of [Scenes](https://developer.apple.com/documentation/uikit/app_and_environment/scenes), and you only need one scene for it to happen. I will share a fork which demonstrates this asap.

[2022-09-05 21:43] gavrichards commented on #102
Ok I've got this together. Two branches:

- [One that converts the AppDelegate to Swift, but doesn't use Scenes](https://github.com/gavrichards/react-native-siri-shortcut/tree/swift-appdelegate) - Siri Shortcuts work fine here
- [The other does that but also uses Scenes](https://github.com/gavrichards/react-native-siri-shortcut/tree/swift-appdelegate-scenes) - If you add a Siri Shortcut in this on

[2022-09-05 21:55] Gustash commented on #102
Thank you for the example project. Unfortunately, as I've said, I barely have time to maintain this repo with bug fixes / support for new RN releases, so I don't have the time to debug issues for a very specific use-case.

If you want to debug this and try to reach a conclusion/solution on what the implementation change needs to be to support this use-case, the best place to start looking is [here

[2022-09-05 22:44] gavrichards commented on #102
Thanks. I think I have found the issue, it's described here: https://nemecek.be/blog/20/ios-13-launchoptions-always-nil-this-is-the-reason-solution
So just a case of figuring out how to use this new way of getting the launch options now. I'll keep digging into this.

[2022-09-06 09:38] gavrichards commented on #102
This is also a helpful article for explaining the separation of AppDelegate and SceneDelegate:
https://adapptor.com.au/blog/enhance-existing-apps-with-carplay

So far I'm struggling to:

- figure out how to pass the scene's connection options into the bridge, so they can be [picked up by this library when getting the initial shortcut](https://github.com/gavrichards/react-native-siri-shortcut/blob/

[2022-09-06 09:42] Gustash commented on #102
I have my doubts that a solution can be achieved here. The API for Scenes seems completely different from the AppDelegate API, and not even React Native is fully geared up to support it (as you've seen with the limitation on storing that information in the JS bridge)

[2022-09-06 16:45] roysG opened #104 "addShortcutListener not fired in the example code"
react-native-cli: 2.0.1
react-native: 0.68.2

i am using the latest version of this package

[2022-09-07 14:45] gavrichards commented on #102
Well good news. I have got this working!

I would like to share the solution with you, but I'm wondering what the best form for a PR would be.

As the AppDelegate is now in Swift, it wouldn't make sense to modify the existing example - I think there needs to be a separate Swift/Scenes example. It can be a duplicate of the existing example project, just with the necessary changes.

The problem with

[2022-09-07 15:01] Gustash commented on #102
Amazing, thank you for your hard work. A new example project for scenes is perfectly fine, just note on the PR which files in the example project are relevant to these changes.

Whenever you can, submit a PR with these fixes please 😄

[2022-09-08 15:24] gavrichards commented on #102
Here we are: https://github.com/Gustash/react-native-siri-shortcut/pull/105

[2022-09-08 22:05] #102 closed

[2022-09-09 10:03] Gustash commented on #102
@gavrichards this has been released on v3.2.0. Thanks for all your hard work!

As a heads up, I've also gone ahead an extracted the connection options -> launch options bridge initialization logic to it's own convenienve RCTBridge initializer, so you should probably use that instead.

You can use it like this:

[code]

[2022-09-09 10:10] gavrichards commented on #102
Oh that's interesting, thanks. I would have had no idea how to do that, or whether it's a good idea. Thanks!

[2022-09-09 10:21] #76 closed

[2022-09-09 10:23] Gustash commented on #104
I couldn't replicate this. The example project has always responded to shortcut events.

Could you give me some steps to replicate this? How did you setup the example project on your machine, for example?

[2022-09-09 10:28] #101 closed

[2022-09-09 10:30] roysG commented on #104
Hi,
I will try again today and i will give you a short video
בתאריך יום ו׳, 9 בספט׳ 2022 ב-13:23 מאת Gustash ***@***.***>:

[2022-09-09 10:30] Gustash commented on #76
Should be fixed in v3.2.1

[2022-09-09 10:30] Gustash commented on #101
Should be fixed in v3.2.1

[2022-09-09 10:33] Gustash commented on #102
Tbf, manually creating launch options from connection options is probably also not the safest idea in general. But in React Native land, we don't really go by the rules lol

[2022-09-09 10:42] roysG commented on #104
I copy the example code and run it in my project.

בתאריך יום ו׳, 9 בספט׳ 2022 ב-13:30 מאת Liroy Sabah ***@***.***>:

[2022-09-09 10:50] gavrichards commented on #102
No, I hated having to do that. But just couldn't see another way. The two things are not compatible, but until React Native officially issue a way to pass connection options to the bridge (which I figure once Scenes becomes more widely adopted, they'll have to address), I think it's the only way.

[2022-09-09 10:52] Gustash commented on #104
Did you follow all the setup instruction steps? Make sure you read through them again closely and make sure you've done everything correctly

[2022-09-09 10:54] Gustash commented on #102
You say that but they still don't even support multiple windows afaik, and iPad support is non-existent pretty much.

I do hope they start supporting new APIs, but so far it feels like they're mostly fine with the current implementation and will probably keep it until it's deprecated (if it ever is)

[2022-09-09 10:54] roysG commented on #104
You mean to the readme? Or is there any addition instructions?

The code is working, just the events not working

בתאריך יום ו׳, 9 בספט׳ 2022 ב-13:52 מאת Gustash ***@***.***>:

[2022-09-09 11:05] gavrichards commented on #102
There is one bug that I couldn't fix with this work, which is probably worth sharing, although I feel like it's an iOS / CarPlay issue, not this package or React Native.

Prerequisites:
- You use the Swift AppDelegate and Scenes
- You have already added a Siri shortcut in your app on your phone
- Connect phone to CarPlay, or use CarPlay simulator
- App is not already running on phone or CarPlay

A

[2022-09-09 11:22] Gustash commented on #102
Yeah, that seems like a bug on the OS or API side tbh. Btw, I forgot to add the new example project's folder to .npmignore, so the size of the library in versions 3.2.0..3.2.1 is too big.

You should install version 3.2.2 which fixes this issue, sorry about that

[2022-09-09 11:24] Gustash commented on #104
https://gustash.github.io/react-native-siri-shortcut

[2022-09-12 18:48] Gustash commented on #104
Is this still an issue for you?

[2022-09-12 18:49] Gustash commented on #96
@Dmitrylolo now that iOS 16 released, can you verify if this is still an issue?

[2022-09-12 18:50] roysG commented on #104
Hi,
You can close it, if i will have a problem i will re open, thank you.

בתאריך יום ב׳, 12 בספט׳ 2022 ב-21:48 מאת Gustash ***@***.***>:

[2022-09-12 20:01] #104 closed

[2022-09-25 07:30] NadaMustafa commented on #76
the error still exists

NB: this only happens on Mac M1

[2022-09-25 13:37] Gustash commented on #76
I unfortunately don't have an M1 Mac, so I can't debug it if that's the issue...

[2022-10-11 08:00] unicornRainbows commented on #96
Hello there. :)

For me getInitialShortcut() does not seems to pass any information through.

When the app is running in foreground or background it works addShortcutListener()

Any help?

I have added the code to AppDelegate and can see that it works.

[2022-10-12 10:08] boxabirds opened #110 "Support the new AppIntents framework"
Looks like the SiriShortcuts, while existing, has conceptually been replaced by AppIntents. I wonder whether this library could be updated to support it?

[Source](https://developer.apple.com/videos/play/wwdc2022/10170/#:~:text=Unlike%20previous%20shortcuts%2C%20App%20Shortcuts,of%20a%20separate%20metadata%20file.)